.general-cart-item.divider-lg-bottom
  = link_to line_item_path(item),
            data: {confirm: t('orders.item.confirm'), method: :delete},
            class: 'close general-cart-close', type: 'button', 'aria-label': 'Close' do
    %span{'aria-hidden': 'true'} &times;
  .general-img-wrap-table
    = link_to book_path(item.book) do
      -if item.book.images.any?
        =image_tag item.book.images.first.image_url, class: 'cart-img-shadow', alt: 'book-image'
  %p.title= item.book.title
  %table.table
    %tr
      %td
        %span.in-grey-600= t('orders.item.price')
      %td
        %span.font-16.in-gold-500= show_price(item.book.price)
    %tr
      %td.vertical-middle
        %span.in-grey-600= t('orders.item.quantity')
      %td
        .input-group
          = link_to line_item_down_quantity_path(item), method: :put, class: 'input-link' do
            %i.fa.fa-minus.line-heaght-40
          %input.form-control.quantity-input{type: 'text', value: "#{item.quantity}"}
          = link_to line_item_up_quantity_path(item), method: :put, class: 'input-link' do
            %i.fa.fa-plus.line-heaght-40
    %tr
      %td
        %span.in-grey-600= t('orders.item.subtotal')
      %td
        %span.font-16.in-gold-500= show_price(item.total_price)