%p its ghgh
= form_with(model: book, local: true) do |form|
  - if book.errors.any?
    #error_explanation
      %h2
        = pluralize(book.errors.count, "error")
        prohibited this book from being saved:
      %ul
        - book.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title
    = form.text_field :title, id: :book_title
  .field
    = form.label :category
    = form.collection_select :category_id, Category.order(:name), :id, :name
  .field
    = form.label :price
    = form.text_field :price, id: :book_price
  .field
    = form.label :description
    = form.text_area :description, id: :book_description
  .field
    = form.label :date_of_publication
    = form.date_select :date_of_publication, id: :book_date_of_publication
  .field
    = form.label :height
    = form.text_field :height, id: :book_height
  .field
    = form.label :width
    = form.text_field :width, id: :book_width
  .field
    = form.label :depth
    = form.text_field :depth, id: :book_depth
  .field
    = form.label :material
    = form.text_field :material, id: :book_material
  .actions
    = form.submit
