%main.container
  = link_to(categories_path, class: 'general-back-link') do
    %i.fa.fa-long-arrow-left.mr-15
    Back to results
  .row
    .col-sm-6
      .product-gallery
        .mb-20
          -if @book.images != []
            =image_tag @book.images.first.image_url, class: 'img-responsive', alt: "book-image"
            .images.clearfix
              -@book.images.drop(1).each do |image|
                =image_tag image.image_url, class: 'img-link', alt: "book-image"
    .col-sm-6
      %h1.mt-res-0= @book.title
      %p.lead.small= @book.authors_to_string
      .row
        .col-xs-12.col-md-4
          %p.h1.in-gold-500.mt-10= show_price(@book.price)
        = simple_form_for :line_items, url: line_items_path, method: :post do |f|
          .col-xs-5.col-md-3
          = f.hidden_field :book_id, value: @book.id
          .col-xs-7.col-md-5
            = f.button :submit, value: 'Add to Cart', class: 'btn btn-default pull-right general-position'

      .general-info-wrap.divider-lg
        %p Description
        %p.lead.small.line-height-2= @book.description
        = link_to 'Read More', '', class: 'in-gold-500 ml-10 read-more'
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Year of publication
          %p.lead.small.pull-right= @book.year_of_publication
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Dimensions
          %p.lead.small.pull-right= @book.dimensions
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Materials
          %p.lead.small.pull-right= @book.material
  .mb-80
    -@reviews.each do |review|
      %p= review.user.name
      %p= review.body
      %p= review.mark

    = form_for [@book, @review] do |f|
      =f.label :body, 'Title'
      =f.text_area :body
      =f.label :mark, 'Mark'
      =f.text_area :mark
      =f.submit 'Post'

    -@reviews.each do |review|
      .general-message-wrap.divider-lg
        .clearfix
          %img.img-circle.logo-size.inlide-block.pull-left{src: "https://www.smashingmagazine.com/wp-content/uploads/2015/09/smashing-book-5-2-large.jpg"}
          .ml-70
            %div
              .general-message-date.hidden-xs 11/11/16
              .max-240
                .general-message-verified Verified Reviewer
                .general-message-name= review.user.name
            .mb-15
              %i.fa.fa-star.rate-star
              %i.fa.fa-star.rate-star
              %i.fa.fa-star.rate-star
              %i.fa.fa-star.rate-star
              %i.fa.fa-star.rate-star
            %p= review.body
    .general-message-wrap.divider-lg
      .clearfix
        %span.img-circle.logo-size.inlide-block.pull-left.logo-empty M
        .ml-70
          %div
            .general-message-date.hidden-xs 11/11/16
            .max-240
              .general-message-verified.pull-right Verified Reviewer
              .general-message-name May J. Novoa
          .mb-15
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star.rate-empty
          %p If ‘Get a better job’ had landed on my desk a year ago, I might have been dismissive of it. Instead I was prepared to be open-minded. There have been many occasions where I turned to career books with practical activities to look for some inspiration when developing education activities for learners or assessment.