= "#{@order.billing_address.first_name} #{@order.billing_address.last_name}"
- if request.env['REQUEST_PATH'].include?('confirm')
  = link_to edit_checkout_path(id: :address) do
    %span.general-edit edit
%br
= @order.billing_address.address
%br
= "#{@order.billing_address.city} #{@order.billing_address.zipcode}"
%br
= @order.billing_address.country
%br
= "Phone #{@order.billing_address.phone}"