%main.container.general-main-wrap
  %h1.general-title-margin Checkout
  %ul.steps.list-inline
    %li.step.done
      %span.step-number
        %i.fa.fa-check.step-icon
      %span.step-text.hidden-xs Address
    %li.step-divider
    %li.step.done
      %span.step-number
        %i.fa.fa-check.step-icon
      %span.step-text.hidden-xs Delivery
    %li.step-divider
    %li.step.done
      %span.step-number
        %i.fa.fa-check.step-icon
      %span.step-text.hidden-xs Payment
    %li.step-divider
    %li.step.done
      %span.step-number
        %i.fa.fa-check.step-icon
      %span.step-text.hidden-xs Confirm
    %li.step-divider
    %li.step.active
      %span.step-number 5
      %span.step-text.hidden-xs Complete


  .text-center.mb-40
    %h3.general-subtitle=t('checkouts.show.complete.thank_you')
    %p.fw-300=t('checkouts.show.complete.message', user_email: current_user.email)

  .row.mb-20
    .col-sm-6
      .visible-xs
        %p.general-order-number.mb-0 Order #R25314582
        %p.general-address.mb-30 October 29, 2016
      %p.general-address
        John Doe
        %span.general-edit edit
        %br
        44 Fifth Ave v231
        %br
        New York NY 1001
        %br
        United States
        %br
        Phone +16507599755

    .col-sm-6.hidden-xs.text-right
      %p.general-order-number.mb-0 Order #R25314582
      %p.general-address.mb-30 October 29, 2016


  = render partial: 'partials/checkouts/complete/uneditable_order_books_mobile', collection: @order.line_items, as: :item
  = render partial: 'partials/checkouts/complete/uneditable_order_books_desktop', collection: @order.line_items, as: :item
  .text-center.general-text-right
    %p.in-gold-500.font-18= t('checkouts.show.complete.order_summary')
    %table.general-summary-table.general-summary-table-right.general-text-right
      = render partial: 'partials/order_summary'
  .text-center
    = link_to t('checkouts.show.complete.back_to_store_button'), categories_path, class: 'btn btn-default mb-20'