.hidden-xs
  %main.container
    %h1.general-title-margin
      = t('.title')
    .hidden-xs.clearfix
      = render partial: 'partials/book/dropdown_menu'
      = render partial: 'partials/book/categories'
    .mb-120
      .row
        - @books.in_groups_of(4, false).each  do |books|
          = render partial:'books/book', collection: books
      .text-center
        %button.btn.btn-primary= t('.view_more_button')
