.hidden-xs.mb-res-50
  = form_for @order,:url => wizard_path, method: :put do |f|
    %table.table.table-hover
      %thead
        %tr
          %th.col-method
            %span.in-grey-600.ml-40= t('checkouts.delivery.method')
          %th
            %span.in-grey-600= t('checkouts.delivery.days')
          %th
            %span.in-grey-600= t('checkouts.delivery.price')
        %tbody
          -deliveries.each do |delivery|
            %tr
              %td
                .form-group.radio.mt-0.mb-0
                  %label.radio-label
                    = f.radio_button(:delivery_id, delivery.id, class: 'radio-input', hidden: "true", require: 'true' )
                    %span.radio-icon
                    %span.radio-text= delivery.method_name
              %td
                %span= delivery.days
              %td
                %span.font-16.in-gold-500= delivery.price
    .general-text-align
      %p.in-gold-500.font-18= t('.order_summary')
      %table.general-summary-table
        =render 'partials/order_summary'
    .text-center
      = f.submit t('checkouts.save_and_continue'), class: 'btn btn-default mb-20'